.rook {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
.rook .base {
    background-color: #fff;
    width: 44%;
    height: 10%;
    position: relative;
    border-radius: 30%;
}
.rook .trunk {
    background-color: #fff;
    width: 32%;
    height: 30%;
    position: relative;
    overflow: hidden;
}
.rook .top-collar {
    background-color: #fff;
    width: 40%;
    height: 10%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.rook .top {
    width: 40%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}
.rook .top-brick {
    width: 25%;
    height: 100%;
    background-color: #fff;
}
.rook.black .top-collar,
.rook.black .trunk,
.rook.black .base,
.rook.black .top-brick {
    background-color: #000;
}
