:root {
  --darkbrown: #6e3b3b;
  --brown: #be6a15;
  --sand: #f3cf7a;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chessboard {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}

.square {
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  border:2px solid var(--darkbrown);
  color: #000;
  font-size: 10px;
}
.square.white {
  background-color: var(--sand);
}
